.imgCar {
  width: 250px;
  height: 190px;
  display: block;
  overflow: hidden;
  object-fit: contain;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
  overflow: 'hidden',
}
